<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>ユーザー新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :nickname, "ニックネーム" %><br />
        <%= f.text_field :nickname, autofocus: true, class: "form-control" %>
      </div>

      <div class="field">
      <span class="sex">性別</span><br>
      <div class="radio-inline">
        <%= f.radio_button :sex, :男性, checked: "checked" %>
        <%= f.label :男性, class: "sex_label" %>
      </div>
      <div class="radio-inline">
        <%= f.radio_button :sex, :女性, checked: "checked" %>
        <%= f.label :女性, class: "sex_label" %>
        </div>
        <div class="radio-inline">
        <%= f.radio_button :sex, :秘密, checked: "checked" %>
        <%= f.label :秘密, class: "sex_label" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :image, "画像" %>
      <%= f.file_field :image,class: "form-control" %>
    </div>



      <div class="form-group">
        <%= f.label :age, "年齢" %><br />
        <%= f.text_field :age, autofocus: true, class: "form-control" %>
      </div>



      <div class="form-group">
        <%= f.label :height, "身長" %><br />
        <%= f.text_field :height, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :weight, "体重" %><br />
        <%= f.text_field :weight, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
      <%= f.label :area_id, "お住み先" %><br />
      <%= f.collection_select :area_id, Area.all, :id, :name, { include_blank: "地域を選択してください" },  { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>


      <div class="form-group">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上が必要です)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "新規登録", class: "btn btn-default" %>
      </div>
    <% end %>


  </div>
</div>
