<%= form_with model: customer, local: true do |form| %>
  <div class="form-group">
    <%= form.label :nickname %><br>
    <%= form.text_field :nickname, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :sex %><br>
    <%= form.text_field :sex, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :age %><br>
    <%= form.text_field :age, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :area_id %><br>
    <%= form.text_field :area_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :height %><br>
    <%= form.text_field :height, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :weight %><br>
    <%= form.text_field :weight, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :image %><br>
    <%= form.text_field :image, class: "form-control" %>
  </div>





  <%= form.submit class: "btn btn-default" %>
<% end %>
