<div class="row">
  <div class="col-lg-12">
    <h1>顧客詳細</h1>
    <dl>
      <dt>ニックネーム</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.nickname %> <%= @user.nickname %></dd>
      <dt>性別</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.sex %></dd>
      <dt>年齢</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.age %></dd>
      <dt>地域</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.area.name%></dd>
      <dt>身長</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.height %></dd>
      <dt>体重</dt>
      <dd style="margin:0px 0px 10px 20px"><%= @user.weight %></dd>
      <dt>地域名</dt>
      <bb><%= f.collection_select :user_id, Area.all, :id, :name, include_blank: true %></bb>
      <p><%= form.hidden_field :user_id, value: current_user_id%></p>


    </dl>

    <%= link_to '戻る', user_path, class: "btn btn-default" %>
  </div>
</div>
